<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>

          <!-- 將 API 請求代理到 Node.js -->
          <rule name="ReverseProxyToNodeAPI" stopProcessing="true">
            <match url="^api/(.*)" />
            <action type="Rewrite" url="http://localhost:3000/{R:0}" />
          </rule>

          <!-- Vue Router 歷史模式支援 -->
          <rule name="Handle History Mode" stopProcessing="true">
            <match url="(.*)" />
            
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
            </conditions> 
            <action type="Rewrite" url="/" />
          </rule>

        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>